[Unit]
Description=Run FastSearch incremental index every 15 minutes

[Timer]
OnBootSec=3min
OnUnitActiveSec=15min
Persistent=true
Unit=fastsearch-index-incremental.service

[Install]
WantedBy=timers.target
